img {
    padding: 20px;
    background-color: aliceBlue;
    margin: 20px;
    border-radius: 30px;
}
   
button {
    margin: 20px;
}
   
body {
    background-color: #7E947E;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
