body {
    background: cornsilk;
    font-family:'Times New Roman', Times, serif;
    color: black;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: moccasin;
    background: linear-gradient(black, gray);
    width: 100%;
    margin: 0.7%;
}
.sottobody {
    border: solid black;
    margin: 0.7%;
    background: linear-gradient(45deg,  white, rebeccapurple);
    font-size: 20px;
    text-align: justify;
}
img {
    width: 200px;
    margin: 10px;
}
.mercedes {
    height: 200px;
    width: auto;
}
.bio {
    margin: 2.5%;
}
footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-items: space-around;
    align-items: center;
    margin: 15px;
    width: 100%;
}
.footer-item {
    margin: 5px;
    flex-grow: 1;
    text-align: center;
}