/* queste sono regole di style che non ci servono per imparare nuove cose */
/* sono importate nel sito index2.html tramite la regola import */
body {
    padding: 15px;
    padding-top: 0;
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
}
h2, h3 {
    color: red;
}
li {
    padding: 5px;
    margin: 5px;
}
textarea {
    display: block;
    resize: none; /*questo impedisce di ridimensionare il tag textarea*/
}
footer {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border: 3px solid blue;
    background-color: aqua;
}
