h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body {
    background-color: antiquewhite;
    color: cornflowerblue;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
figcaption {
    font-size: 190%;
    font-weight: bold;
}
